* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #424242;
}
.navbar-brand,
.nav-link {
  color: #e0e0e0;
}
.my-card-deck {
  text-align: center;
}
.my-card {
  display: inline-block;
  border: 1px solid gray;
  position: relative;
}
.my-card-reward {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.form {
  width: max(300px, 50%);
  margin: auto;
}
.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.footer{
  display: flex;
  justify-content: space-around;
}

.footerUl {
  display: inline;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}