* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #424242;
}
.navbar-brand,
.nav-link {
  color: #e0e0e0;
}
.my-card-deck {
  text-align: center;
}
.my-card {
  display: inline-block;
  border: 1px solid gray;
  position: relative;
}
.my-card-reward {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
